<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    <section>
        <div class="about">
            <h2>First Apple Premium Reseller in India.</h2>
            <p>Imagine is an Apple Premium Reseller based in India. We use technology to make retail a pleasure for our customers. Our team has deep product insights and uses innovation to ensure a seamless experience.</p>
            <p>Imagine gives you the advantage of experiencing the whole range of Apple products under one roof.Our tech accessories add value to your life. They combine performance with innovative design and neatly complement your Apple device.</p>
        </div>
        <div class="about1">
            <h2>Assured best service for Apple products.</h2>
            <p>iCare, Apple’s authorised service provider has the best Apple experts who can create a perfect solution for all your needs. These certified technicians breathe life into your device. From reviving your dead Apple devices to repairs and services, they are a team you can trust. iCare service points are present in all major cities across the country making accessibility easy.</p>
        </div>
        <div class="about2">
            <h2>Customers’ always first!</h2>
            <p>You are at the heart of everything we do. We strive and work towards earning your trust. We relentlessly pursue policies that are geared towards your delight and satisfaction. We devote our time and technology in creating a unique retail experience that stays with you. We value you and believe that you deserve the best. We anticipate the changing demands of retail and calibrate our response to best suit your needs. Simply put, you are at the centre of every decision we make.</p>
            <p>Imagine lives and breathes customer satisfaction and endeavours to create a hassle-free experience. You can shop online and get a free in-store pick-up for any Apple device or accessory.</p>
            <p>To provide affordable and reasonable pricing is important for us, we believe everyone deserves the best. Hence, we offer the best deals so that you feel loved every step of the way. Our loyalty program is a reflection of the value we place on our customers.</p>
            <p>Imagine started small and after two decades, we are now spread across 25 stores across the country. We are known as innovators who touch the lives of customers. Today, Imagine is synonymous with everything Apple. So, the next time you want a fine retail experience, think Imagine.</p>
        </div>
        <div class="about3">
            <h2>We are part of apple hub family – the leading retailer in India</h2>
            <p>Imagine is run by Ample Technologies, who were the first to own and operate the country’s first flagship Apple-exclusive retail store. Imagine has now grown to over 25 stores across the country. To ensure a holistic Apple experience, Ample also runs iCare, an Apple authorised service provider, whose expert Apple certified technicians provide professional support and service. The Ample group, in addition to Apple, is partnered with Bose, Under Armour and ASICS. Ample also has an enterprise team that is renowned for delivering the right technology solutions for organisations of all sizes.</p>
            <p>Ample is driven by its principles, which is an unwavering focus on customers, business integrity and the future. Ample’s core Purpose is To Touch People and Simplify Lives. Through these principles, Ample relentlessly pursues its mission of becoming India’s most admired company.</p>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>