<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'iphone16.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    <section>
        <div class="applevideo">
          <video autoplay muted loop>
            <source src="{% static 'video/iphone16.mp4' %}" type="video/mp4" >
          </video>
        </div>
      </section>
      <section>
        <div class="iphone16">
          {% for objects in data7 %}
          <div class="pro16">
            <div class="new1">
              {% if objects.trending %}
              <button class="btn"><span class="ribbon">NEW</span></button>
              {% endif %}
            </div>  
              
          <img src="{{objects.my_image.url}}">
          </div>
          <div class="pro16">
            <p>{{objects.Name}}</p>
            <h2>{{objects.price}}</h2>
            {% if objects.pr_quanity  > 0 %}
            <input type="hidden" value="{{objects.pr_id}}" id="pr_id">

                <button class="input-group-text" id="btnPlus"><i class="fa-solid fa-plus"></i></button>
                <input type="text" name="qty" id="txtQty" value="1">
                <button class="input-group-text" id="btnMinus"><i class="fa-solid fa-minus"></i></button>
                
                
            <button class="button" id="btnCart"><i class="fa-solid fa-basket-shopping"></i><span>ADD TO CART</span></button>
            <button class="button"><i class="fa-regular fa-credit-card"></i><span>BUYNOW</span></button>
            {% else %}
            <button class="button"><i class="fa-regular fa-face-sad-cry"></i><span>OUTOFSTOCK</span></button>
            {% endif %}
           
          </div>
          {% endfor %}
        </div>
      </section>
      <section>
        <div class="myphone">
          {% for objects in data8 %}
          <div class="phone">
            <img src="{{objects.p_image.url}}" alt="Product_Image">  
          </div>
          {% endfor %}
      </section>
      <section>
        <div class="idea">
          {% for objects in data9 %}
          <div class="best">
              <h2>{{objects.Description}}</h2>
             <li>{{objects.name}}</li> 
              <h2>{{objects.InTheBox}}</h2>
              <li>{{objects.I_name}}</li>
              <h2>{{objects.Warranty}}</h2>
              <li>{{objects.W_name}}</li>
          </div>
          {% endfor %}

          {% for objects in data10 %}
        <div class="best1">
          <h2>Features</h2>
         <li>{{objects.a_name}}</li> 
         <li>{{objects.b_name}}</li>   
          <li>{{objects.c_name}}</li>  
         <li>{{objects.d_name}}</li> 
          <li>{{objects.e_name}}</li>
          <li>{{objects.f_name}}</li>
         <li>{{objects.g_name}}</li> 
         <li>{{objects.h_name}}</li> 
         <li>{{objects.k_name}}</li> 
        </div>
        {% endfor %}
      </section>
      <script>
        document.addEventListener("DOMContentLoaded", function(event) {
          const btnPlus = document.getElementById("btnPlus");
          const btnMinus = document.getElementById("btnMinus");
          const txtQty = document.getElementById("txtQty");
          const pid = document.getElementById("pr_id");
          const btnCart=document.getElementById("btnCart");


          btnPlus.addEventListener("click", function() {
            let qty=parseInt(txtQty.value,10);
            qty=isNaN(qty)?0:qty;
            // console.log(qty);
            if(qty<10){
              qty++;
              txtQty.value=qty;
            }
          });

          btnMinus.addEventListener("click", function() {
            let qty=parseInt(txtQty.value,10);
            qty=isNaN(qty)?0:qty;
            console.log(qty);
            if(qty>1){
              qty--;
              txtQty.value=qty;
            }
          });

          btnCart.addEventListener("click", function(){
            let qty = parseInt(txtQty.value, 10);
            qty= isNaN(qty) ? 0 : qty;
            if (qty < 10) {
                let postObj = {
                  pr_id: pr_id.value,
                  Product_qty:qty, 
                };
                console.log(postObj); 
                fetch("/addtocart").then((res)=>console.log(res.json()))
                fetch("/addtocart",{
                    method: 'POST',
                    credentials: 'same-origin',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token  }}',
                    },
                    body: JSON.stringify(postObj),
                })
                .then(response => {
                    if (!response.ok) {
                      throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    // console.log('Success:',data);
                    alert(data['status']);

                })
                .catch(error => {
                    console.error('Fetch error:',error);
                });
            } else {
                alert("Please Enter the Quantity");
            }
      });
          
      });

      </script>
    {% include 'footer.html' %}
</body>
</html>