*{
    font-family: 'Times New Roman', Times, serif;
}
.applevideo video{
    width: 1000px;
    /* height: 1000px; */
   margin-left: 250px;
   margin-top: 100px;
   border-radius: 50px;
}
.iphone16{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.pro16{
    width: 500px;
    height: 500px;
}
.pro16 img{
    width: 500px;
    height: 500px;

}
.pro16 p{
    margin-top: 100px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.myphone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.idea{
    margin-top: 50px;
    width: 1300px;
    height: auto;
    margin-bottom: 100px;
}
.best h2{
    margin-left: 100px;
    color: blue;

}
.best li{
    margin-left: 200px;
    text-align: justify;
    font-size: 20px;
    list-style-type: square;
}
.best1 h2{
    margin-left: 100px;
    color: blue;

}
.best1 li{
    margin-left: 200px;
    text-align: justify;
    list-style-type: square;
}